main {
    padding: 20px;
}

/* estilo para a barra inferior */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00606B;
  }
  
  nav {
    display: flex;
  }
  
  nav > ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav > ul > li {
    position: relative;
  }
  
  nav > ul > li > a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
  }

  .dropdown-menu:hover {
    background-color: #00A5B8
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  .dropdown-menu li {
    background-color: #00606B;
    color: #fff;
    padding: 10px;
  }
  
  .dropdown-menu li:hover {
    background-color: #113438;
  }